CELCAT_URL=https://celcat.example.com
CELCAT_GROUP=MYGROUP
MONTHS_TO_FETCH=12
NOT_FOLLOWED_COURSES=COURSE1,COURSE2,COURSE3
LDAP_API=https://ldap.example.com/api/
LDAP_CACHE_DURATION=3600000 # 1 hour in milliseconds